# KNNImputer

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('titanic.csv',usecols =['Age','Pclass','Fare','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  34.5   7.8292
1         1       3  47.0   7.0000
2         0       2  62.0   9.6875
3         0       3  27.0   8.6625
4         1       3  22.0  12.2875

In [4]:
df.isnull().mean()*100

Survived     0.000000
Pclass       0.000000
Age         20.574163
Fare         0.239234
dtype: float64

In [5]:
x = df.drop(columns=['Survived'])
y=df['Survived']

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [7]:
x_train.head()

     Pclass   Age     Fare
280       3  23.0   8.6625
284       3   2.0  20.2125
40        3  39.0  13.4167
17        3  21.0   7.2250
362       2  31.0  21.0000

In [23]:
knn = KNNImputer(n_neighbors=5 )                        #n_neighbors=2,weights ='distance' 
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [24]:
pd.DataFrame(x_train_trf,columns = x_train.columns)

     Pclass   Age     Fare
0       3.0  23.0   8.6625
1       3.0   2.0  20.2125
2       3.0  39.0  13.4167
3       3.0  21.0   7.2250
4       2.0  31.0  21.0000
..      ...   ...      ...
329     3.0  29.0   7.8542
330     1.0  23.0  31.6833
331     3.0  29.0   7.9250
332     2.0  24.0  27.7208
333     1.0  36.3  27.7208

[334 rows x 3 columns]

In [25]:
cls = LogisticRegression()
cls.fit(x_train_trf,y_train)
y_pred = cls.predict(x_test_trf)
accuracy_score(y_test,y_pred)

0.6666666666666666

# Iterative Imputer

In [ ]:
import pandas as pd

In [26]:
dfs= pd.read_csv('titanic.csv', usecols =['SibSp','Fare','Age'])

In [27]:
dfs.head()

    Age  SibSp     Fare
0  34.5      0   7.8292
1  47.0      1   7.0000
2  62.0      0   9.6875
3  27.0      0   8.6625
4  22.0      1  12.2875

In [28]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [29]:
impute_it = IterativeImputer()
impute_it.fit_transform(dfs)

array([[34.5       ,  0.        ,  7.8292    ],
       [47.        ,  1.        ,  7.        ],
       [62.        ,  0.        ,  9.6875    ],
       ...,
       [38.5       ,  0.        ,  7.25      ],
       [28.34738777,  0.        ,  8.05      ],
       [27.8808564 ,  1.        , 22.3583    ]])